<form class="" action="/login" method="post">
  <input type="text" name="password" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit" name="button">submit</button>
</form>
